

.menuItem {
  color: black;
  text-decoration: none !important;
}

.moreIconContainer{
  display: none;
}

@media (max-width: 768px) {
  .announceBtnColorToogle{
    display: none;
  }

  .moreIconContainer{
    display: flex;
  }
}

