.formControl {
  margin-bottom: 30px;
}

.loading {
  display: block;
  margin: 10px auto;
}

.boxSeparator{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-top: 80px;
  margin-bottom: 40px;
}

.boxSeparator span{
  background-color: white;
  padding: 0 30px;
}