.formControl {
  margin-bottom: 30px;
}

.links{
  text-decoration: none;
  color: black;
  transition: all ease-in 0.2s;
  border-bottom: white 1px solid;
}

.links:hover{
  border-bottom: #000000 1px solid;
}

.loading {
  display: block;
  margin: 10px auto;
}

.boxSeparator{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-top: 80px;
  margin-bottom: 40px;
}

.boxSeparator span{
  background-color: white;
  padding: 0 30px;
}